/* src/components/MapBase.css */

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(96, 240, 240, 0.897);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  height: 50vh; /* Asigură-te că ocupă întreaga înălțime a vizualizatorului */
  padding: 0; /* Elimină padding-ul dacă nu este necesar */
  box-sizing: border-box;
}


.map {
 /* Ocupă mai mult spațiu în comparație cu statusul */
  flex-direction: column;
  align-items: center; /* Centrare orizontală a mapei */
  justify-content: center; /* Centrare verticală a mapei */
  z-index: 0;
  margin-left: 10vw;
  margin-top: 2vh;
}

.game-status {
  flex: 1; /* Ocupă mai puțin spațiu */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinierea la stânga a statusului */
  justify-content: flex-start; /* Alinierea la sus a statusului */
  padding: 20px; /* Adaugă padding dacă dorești */
  box-sizing: border-box;
}

.game-status-container {
  display: flex;
  flex-direction: column; /* Asigură-te că statusul se aliniază vertical */
  width: 60%; /* Ocupă întreaga lățime disponibilă */
  margin-top: 20vh;
  margin-left: 20vh;
  margin-right: 0vh;
  box-sizing: border-box;
}


.game-status-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.map-table {
  border-collapse: collapse;
  margin: 40px;
}

.map-cell {
  background-size: contain;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(155, 198, 155);
  position: relative;
}

.opponent-cell {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: rgb(155, 198, 155);
}

.duck-cell {
  background-color: rgb(155, 198, 155);
  transition: transform 0.5s ease-in-out;
}

.duck-image {
  width: 40px;
  height: 40px;
  background-size: contain;
  object-fit: contain;
  background-color: rgb(155, 198, 155);
}

.map-title {
  text-align: left;
  margin: 0vh 20vh;
}


@keyframes flame {
  0% {
    color: red;
    transform: scale(1);
  }

  25% {
    color: orange;
    transform: scale(1.1);
  }

  50% {
    color: rgb(98, 98, 54);
    transform: scale(1.2);
  }

  75% {
    color: orange;
    transform: scale(1.1);
  }

  100% {
    color: red;
    transform: scale(1);
  }
}

.map-title {
  animation: flame 2s infinite;
  font-size: 30px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.controls-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.difficulty-div {
  background-color: rgba(243, 243, 243, 0.818);
  margin-left: 20vh;
  margin-top: 7vh;
  padding: 1vh;
}

.difficulty-div h1{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: lighter;
  color: rgba(8, 7, 7, 0.627);
}


.difficulty-div button{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: lighter;
  background-color: rgb(173, 212, 173);
  border-color: rgba(135, 94, 12, 0.853);
}