/* src/components/MapBase.css */

.map-table {
  border-collapse: collapse;
  margin: 10px auto;
}

.map-cell {
  background-size: contain;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(155, 198, 155);
  position: relative;
}

.opponent-cell {
  background-size: contain;
  /* Ajustează dimensiunea pentru a se potrivi conținutului */
  background-repeat: no-repeat;
  /* Asigură că imaginea nu se repetă */
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: rgb(155, 198, 155);
  filter:  hue-rotate(-50deg);
}

.duck-cell{
  background-color: rgb(155, 198, 155);
  transition: transform 0.5s ease-in-out;
}

.duck-image {
  width: 40px;
  height: 40px;
  background-size: contain;
  object-fit: contain;
  background-color: rgb(155, 198, 155);
}

.map-title {
  text-align: center;
  margin-bottom: 10px;
}

@keyframes flame {
  0% {
    color: red;
    transform: scale(1);
  }

  25% {
    color: orange;
    transform: scale(1.1);
  }

  50% {
    color: yellow;
    transform: scale(1.2);
  }

  75% {
    color: orange;
    transform: scale(1.1);
  }

  100% {
    color: red;
    transform: scale(1);
  }
}

.map-title {
  animation: flame 2s infinite;
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  /* Optional: for a more dynamic font style */
}
