.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(60, 38, 29, 0.6);
    z-index: 1;
  }
  
  .modal-main {
    background-image: url('./../assets/lake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    position:fixed;
    width: 50%;
    height: 61%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
.button {
    grid-column: 2;
}
