.player-slice {
  display: inline-grid;
  grid-template-columns: 8;
  gap: 20%
}

.player-controls {
  grid-column-start: 2;
  grid-column-end: 3;
}

.player-status {
  grid-column-start: 3;
  grid-column-end: 7;
  margin: 0px 15px;
  background-color: rgba(227, 226, 148, 0.089);
}

.button {
  width: 50px;
  height: 50px;
  border: 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.button.up {
  grid-area: up;
  background-color: rgb(136, 91, 52);
}

.button.left {
  grid-area: left;
  background-color: beige;
}

.button.down {
  grid-area: down;
  background-color: rgb(113, 113, 77);
}

.button.right {
  grid-area: right;
  background-color: rgb(228, 228, 162);
}

.controls {
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

.button::after {
  content: '';
  border-style: solid;
}

.button.up::after {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgb(0, 0, 0) transparent;
}

.button.left::after {
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

.button.down::after {
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.button.right::after {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

.button:active {
  background-color: blueviolet;
}

.opponent-status {
  display: inline;
  background-color: aliceblue;
}

.game-slice {
  display: flex;
}

.opponent-status {
  margin-left: 150px;
  background-color: rgba(165, 116, 116, 0.192);
}